<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>人员信息管理系统</title>
  <link rel="stylesheet" href="../layui.css">
  <link rel="stylesheet" href="../NewFile.css">

</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">远航办公</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/order" target="menuFrame">订单</a></li>
      <li class="layui-nav-item"><a href="">nav 2</a></li>
      <li class="layui-nav-item"><a href="">nav 3</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block"><input class="una"   readonly="readonly"></li>
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">我的</a>
        <dl class="layui-nav-child">
          <dd><a href="/users" target="menuFrame">信息管理</a></dd>
          <dd><a href="/login">退出账号</a></dd>
        </dl>
      </li>

    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">信息管理</a>
          <dl class="layui-nav-child">
            <dd><a href=""  target="menuFrame" >插入新用户</a></dd>
            <dd><a href="javascript:;">menu item 1-2</a></dd>
            <dd><a href="javascript:;">menu item 1-3</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    底部固定区域
  </div>
</div>

//JavaScript代码区域
<script src="layui.js"></script>
<script>
  layui.use('element', function(){
    var element = layui.element;

  });
</script>
</body>
</html>
