<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>密码修改</title>
    <link rel="stylesheet" href="/layui.css">
</head>



<body>

<!-- 你的 HTML 代码 -->

<script src="/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        layer.msg('欢迎进入密码修改界面');
    });
</script>
<h1><div style="text-align: center;">密码修改界面界面</div></h1>
<form class="layui-form" action="/SpasswordIn" th:action="@{/SpasswordIn}"  method="post">
    <div class="layui-form-item">

        <div style="text-align: center;">
            <label class="layui-form-label">找回账号</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name = "name" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div style="text-align: center;">
            <label class="layui-form-label">预留电话</label>
            <div class="layui-input-inline">
                <input type="text" id="tel" name = "tel" required  lay-verify="required" placeholder="+86" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div style="text-align: center;">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" id="pw1" name = "pw1" required  lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div style="text-align: center;">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" id="pw2" name = "pw2" required  lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" id = "Cpassword" value = "Cpassword" class="layui-btn">
                <i class="layui-icon"></i> 找回
            </button>

            <a href="http://localhost:8080"><button type=button value="return" class="layui-btn layui-btn-primary">返回</button></a>
        </div>
    </div>

</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>